.body {
  margin: 0 auto;
  background-color: #f8f8f8;
  
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #303846;
}

a, a:visited {
  color: #303846;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.header {
  font-weight: bold;
  padding: 20px 50px;
  background-color: #fff;
}

.list-clear {
  list-style: none;
  padding: 0;
}

.nav-list {
  margin-left: auto;
}

.nav-list-item {
  margin-left: 20px;
}

.header-logo {
  height: 50px;
}

.nav-logo {
  text-decoration: none;
  align-items: center;
}

.nav-logo-text {
  padding-left: 10px;
}

.hero-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 404px;
  padding: 20px;
  
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;

  color: #fff;
}

.hero-logo {
  height: 200px;
}

.hero-header {
  margin-bottom: 0;
  font-size: 2em;
}

.hero-text {
  margin: 5px 0 0;
}

.hero-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none;
  font: inherit;
  color: #fff;
  font-weight: bold;
}

.w-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-100 {
  margin-right: 100px;
}

.fs-175em {
  font-size: 1.75em;
}

.advantages-list {
  justify-content: space-between;
}

.advantages-list-item {
  width: 30%;
}

.about {
  background-color: #f7f7f7;
}

.content-img {
  height: 250px;
}

.about-container {
  justify-content: center;
}

.about-text {
  max-width: 520px;
}