.body {
  margin: 0 auto;
  background-color: #f8f8f8;
  
  font-family: sans-serif;
  font-size: 16px;
  color: #303846;
}

.d-flex {
  display: flex;
}

.header {
  font-weight: bold;
  padding: 20px 50px;
  background-color: #fff;
}

.nav-list {
  list-style: none;
  padding: 0;

  margin-left: auto;
}

.nav-list-item {
  margin-left: 20px;
}

.header-logo {
  height: 50px;
}

.nav-logo {
  text-decoration: none;
  align-items: center;
}

.nav-logo-text {
  padding-left: 10px;
}

.hero-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 404px;
  padding: 20px;
  
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;

  color: #fff;
}

.hero-logo {
  height: 200px;
}

.hero-header {
  margin-bottom: 0;
  font-size: 2em;
}

.hero-text {
  margin: 5px 0 0;
}

.hero-button {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: none;
  font: inherit;
  color: #fff;
  font-weight: bold;
}